body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  a {
    color: white;
    text-decoration: none;
  }
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

header {
  color: white;
  background-image: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.7),
      rgba(33, 133, 208, 0.5)
    ),
    url("images/header_image.avif");

  background-position: top;
  background-size: cover;

  padding: 2rem;

  .logo-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logo {
      max-width: 80px;
    }

    .nav-links {
      display: flex;
      gap: 20px;
      li {
        a {
          color: white;
          padding: 10px 15px;
        }

        .subscribe {
          background-color: rgb(33, 133, 208);
          color: white;

          padding: 10px 10px;
          text-align: center;
        }
      }
    }
  }

  #header-text {
    text-align: center;
    margin-top: 2rem;
    h1 {
      font-size: 5rem;
      margin: 0.5rem 0;

      font-style: italic;
    }

    p {
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

main {
  section {
    padding: 0;
    margin: 0;
    .icon {
      max-width: 50px;
      height: auto;
    }
    .subscribe {
      background-color: rgb(33, 133, 208);
      color: white;
      border-radius: 5px;
      padding: 10px 20px;
      text-align: center;
    }

    #top-bloc,
    #bottom-bloc {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    ul {
      display: flex;
    }

    li {
      text-align: center;
      padding: 2em;
      flex: 1;
    }

    #top-bloc li:nth-child(1),
    #bottom-bloc li:nth-child(2) {
      background-color: rgb(240, 240, 240);
    }
  }
  #cards {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: -4rem auto 4rem;
    color: white;
    padding: 0;
  }
  #cards ul {
    @media screen and (max-width: 768px) {
      /* Styles ici pour les écrans ayant une largeur maximale de 768px */
      display: flex;
      flex-direction: column;
    }
  }
  #cards li {
    flex: 1;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  #cards li:nth-child(1) {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("images/item1.avif");
  }

  #cards li:nth-child(2) {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(
        rgba(33, 133, 208, 0.5),
        rgba(33, 133, 208, 0.5)
      ),
      url("images/item2.avif");
  }
  #cards li h2 {
    white-space: nowrap;
  }
}
#obj-text {
  text-align: center;
  margin-bottom: 6rem;
}
#obj-blocs {
  li {
    border: solid 1px rgb(215, 201, 201);
  }
}

#blog {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(33, 133, 208, 0.5)),
    url("images/main_image.avif");
  background-position: center;
  background-size: cover;
  padding: 6rem;
}

.content {
  max-width: 40%;
  text-align: left;
}

.content h2 {
  margin-left: -5rem;
}

.content p {
  margin-left: 0;
  margin-bottom: 2rem;
}
.content a {
  margin: left 0;
  @media screen and (max-width: 768px) {
    white-space: nowrap;
  }
}
footer {
  color: white;
  .logo-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .logo {
      max-width: 80px;
    }
    background-color: black;
    padding: 2rem;
  }
}

footer p {
  text-align: left;
  max-width: 60%;
}
